{% extends 'base_templates/base.html' %}
{% block title %}Управление списком{% endblock %}

{% block content %}
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        {% if user.is_superuser or perms.catalog.can_unpublish_product %}
            <h1 class="display-4 px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">Полный список товаров </h1>
        {% else %}
            <h1 class="display-4 px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">Список Ваших товаров</h1>
        {% endif %}
    </div>

    <div class="container mt-5 mb-5">
        <a href="{% url 'catalog:create_product' %}" class="btn btn-lg btn-block btn-outline-primary mt-5 mb-5">Создать
            новый товар</a>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 row-cols-lg-4 g-5">
            {% for product in products %}
                <div class="col">
                    <div class="card h-100 d-flex flex-column shadow-sm" style="width: 15rem;">
                        {% if product.published is True %}
                            <h3 class="card-text">Опубликован</h3>
                        {% endif %}
                        {% if product.published is False %}
                            <h3 class="card-text" style="color: red;">Не опубликован</h3>
                        {% endif %}
                        {% if product.image %}
                            <p><img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }}"></p>
                        {% endif %}
                        <div class="card-body flex-grow-1">
                            <h2 class="card-text">{{ product.price }} р.</h2>
                            <a class="card-link" href="{% url 'catalog:product_detail' product.id %}">
                                <h5 class="card-title">{{ product.name }}</h5>
                            </a>
                            <p class="card-text">{{ product.category }}</p>
                            <p class="card-text">{{ product.description | truncatechars:100 }}</p>
                            <p class="card-text">Автор:</p>
                            <p class="card-text">{{ product.owner }}</p>
                        </div>
                        <div class="card-footer d-flex align-items-end pb-3 pt-0">
                            <div>
                                <a href="{% url 'catalog:product_update' product.id %}"
                                   class="p-2 btn btn-outline-secondary w-100 mt-3 mb-1">Редактировать</a>
                                <a href="{% url 'catalog:product_delete' product.id %}"
                                   class="p-2 btn btn-outline-danger w-100 mt-3 mb-1">Удалить</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}