{% extends 'blog_base.html' %}
{% load static %}

{% block title %}{{ blog_entry.title }}{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4">{{ blog_entry.title }}</h1>
    </div>

    <!-- Основной контент -->
    <div class="row justify-content-center">
        <div class="col-md-8">
            <p style="font-size: 1rem;">{{ blog_entry.entry|linebreaksbr }}</p>

            {% if blog_entry.image %}
                <figure class="figure text-center">
                    <img src="{{ blog_entry.image.url }}" class="figure-img img-fluid rounded" alt="{{ blog_entry.title }}">
                </figure>
            {% else %}
                <p>Изображение для "{{ blog_entry.title }}" отсутствует.</p>
            {% endif %}
        </div>
    </div>

    <!-- Навигационные кнопки -->
    <div class="mt-4 d-flex justify-content-between align-items-center">
        <a href="{% url 'blog:entry_update' blog_entry.id %}" class="btn btn-sm btn-outline-primary">Редактировать</a>
        <a href="{% url 'blog:entry_delete' blog_entry.id %}" class="btn btn-sm btn-outline-danger">Удалить</a>
        <a href="{% url 'blog:index' %}" class="btn btn-sm btn-outline-secondary">Вернуться к списку</a>
    </div>
</div>
{% endblock %}