{% extends 'blog_base.html' %}
{% block title %}Удаление статьи{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="mb-5">Удаление статьи</h1>
        <p>Вы уверенны, что хотите удалить {{ entry.name }}</p>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-lg btn-block btn-outline-danger">Удалить</button>
            <a href="{% url 'blog:index' %}" class="btn btn-lg btn-block btn-outline-secondary">Вернуться к списку</a>
        </form>
    </div>
{% endblock %}